@import "variables"

body
  position relative

  nav
    font-family "sans", sans-serif
    min-height 100vh
    height 100%
    padding 90px
    background $blue
    box-sizing border-box
    position fixed
    top 0
    bottom 0
    z-index 5
    width 340px
    padding 50px
    overflow scroll

    *
      color $bronze

    #logo 
      height 72px
      
      img
        height 100%
        width auto

    ul
      list-style-type none
      padding 0
      margin 0
      text-transform uppercase

      &.links
        margin-top 90px
        font-size 10.5pt

        li
          a
            letter-spacing 4px
            line-height 2.5

            &.active
              &::before
                content "•"
                margin 0 5px 0 -17.5px

              & ~ .dropdown
                display block

          .dropdown
            padding-left 15px
            overflow hidden
            display none

        li button
          background transparent
          border none
          font-size .8rem
          line-height 2.5
          letter-spacing 4px
          outline none
          font-family inherit
          text-transform inherit
          font-size 9pt

    a
      text-decoration none

    section.nav-footer
      position absolute
      bottom 40px
      font-family "serif", serif
      font-size 10pt

      &.overlapped
        position initial

      .contact-info
        display inline-block
        border-bottom 1px solid $bronze
        margin-bottom 20px
        margin-top 60px
        padding-bottom 10px
        font-family "Goldenbook-Light", serif

        p
          font-size 1.2rem
          font-size 1em
          letter-spacing 1.8px

          &:last-of-type
            letter-spacing 1.9px

      .social-media ul
        display table
        margin auto
        float none

        li
          float left
          padding 10px
          
          &.sackman
            margin-top 2px

          &.sackman img
            height 18px
            width auto
